# ignore large data files
data/cath-domain-description-file.txt
data/cath-domain-list.txt
data/gene2accession
data/gene_info
data/genomes

# gotta ignore the output since it's larger than 100mb
output/uniprot_genbank_homo_sapiens.tsv
output/uniprot_genbank_mus_musculus.tsv
output/*

# ignore unnecessary python files
src/tinkering
